<div class="header">
    <a href="{{ url_for('index') }}" class="logo">ID Extraction</a>
    <div class="header-right">
        <a class="menu-btn" href="{{ url_for('label.label_get_all') }}">Quản lý nhãn</a>
        <a class="menu-btn" href="{{ url_for('example.example_get_all') }}">Quản lý mẫu</a>
        <a class="menu-btn" href="{{ url_for('model.model_get_all') }}">Quản lý mô hình</a>
        <a class="menu-btn" href="{{ url_for('extract_image') }}">Chuyển ảnh thành chữ</a>
        <a class="menu-btn" href="{{ url_for('crop_image') }}">Cắt ảnh</a>
    </div>
</div>