<div class="modal fade" id="editForm" tabindex="-1" role="dialog" aria-labelledby="editFormTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editFormTitle">Cập nhật mẫu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="editExampleForm" id="editExampleForm" action="{{ url_for('example.example_update') }}"
                    method="POST" enctype="multipart/form-data">
                    <input id="edit_id" type="hidden" name="edit_id" value="" /><br>
                    <p>Chọn ảnh để tải lên: </p>
                    <p id="edit_example_file_error" class="invalid-feedback">File không được để trống
                    </p>
                    <input type="file" name="file"><br>
                    <p id="example_name"></p>
                    <label for="status">Trạng thái: </label><br>
                    <select name="status">
                        <option value="1">Đã được sử dụng</option>
                        <option value="0" selected>Chưa được sử dụng</option>
                    </select>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="editExample()">Save changes</button>
            </div>
        </div>
    </div>
</div>