<div class="modal fade" id="deleteForm" tabindex="-1" role="dialog" aria-labelledby="deleteFormTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteFormTitle">Xóa nhãn</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="deleteLabelForm" id="deleteLabelForm" action="{{ url_for('label.label_delete') }}"
                    method="POST">
                    <label>Bạn có chắc chắn xóa nhãn <span id="delete_name" class="font-weight-bold"></span>
                        không?</label>
                    <input id="delete_id" type="hidden" name="delete_id" value="" /><br>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" onclick="deleteLabel()">Save changes</button>
            </div>
        </div>
    </div>
</div>