<div class="modal fade" id="editForm" tabindex="-1" role="dialog" aria-labelledby="editFormTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editFormTitle">Cập nhật nhãn</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="editLabelForm" id="editLabelForm" action="{{ url_for('label.label_update') }}"
                    method="POST">
                    <input id="edit_id" type="hidden" name="edit_id" value="" />
                    <label for="name">Tên nhãn<span style="color: red;">*</span>: </label><br>
                    <input id="name" type="text" name="name" placeholder="Name" autofocus required
                        onkeyup="validateEditLabel()" value="" /><br>
                    <p id="edit_label_name_error" class="invalid-feedback">Tên không được để trống
                    </p>
                    <label for="status">Trạng thái: </label><br>
                    <select name="status" id="status">
                        <option value="1">Đã được train</option>
                        <option value="0">Chưa được train</option>
                    </select>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="editLabel()">Save changes</button>
            </div>
        </div>
    </div>
</div>